Repository glu-lang/glu, pull requests merged in 2025-07, with the labels that each got.

#396 Feature: IRGen base
  include/GIL/InstVisitor.hpp
  include/GIL/Instructions/ReturnInst.hpp
  include/GIL/Module.hpp
  include/IRGen/IRGen.hpp
  lib/GILGen/GILGenStmt.cpp
  lib/IRGen/IRGen.cpp
  lib/IRGen/TypeLowering.hpp
Labels: IRGen

#399 Feature(IRGen): Generate IR for Constants
  lib/IRGen/IRGen.cpp
Labels: IRGen

#386 Feature: add CallExpr constraint
  lib/Sema/CSWalker.cpp
Labels: sema

#411 Feature: Generate IR for Branches
  lib/IRGen/IRGen.cpp
Labels: IRGen

#407 [GILGen] Feature: Support variable declaration
  include/GIL/Instructions/AllocaInst.hpp
  include/GILGen/Context.hpp
  lib/GILGen/GILGenExpr.hpp
  lib/GILGen/GILGenLValue.hpp
  lib/GILGen/GILGenStmt.cpp
  lib/GILGen/Scope.hpp
Labels: GILGen
