Repository glu-lang/glu, pull requests merged in 2025-02, with the labels that each got.

#158 [Lexer] Feat: Add FLEX scanner
  CMakeLists.txt
  include/Basic/TokenKind.def
  include/Basic/Tokens.hpp
  include/Lexer/Lexer.hpp
  include/Lexer/Scanner.hpp
  lib/Lexer/CMakeLists.txt
  lib/Lexer/Lexer.cpp
  lib/Lexer/Scanner.l
  test/CMakeLists.txt
  test/Scanner/Scanner.cpp
Labels: lexer

#175 [Parser] Feature: Add memory arena
  include/AST/ASTContext.hpp
  include/AST/ASTMemoryArena.hpp
  include/Basic/MemoryArena.hpp
  test/AST/ASTContext.cpp
  test/CMakeLists.txt
Labels: parser

#176 [Parser] Feature: add a default parser with Bison
  include/Basic/TokenKind.def
  include/Basic/Tokens.hpp
  include/Parser/Parser.hpp
  lib/Parser/BisonTokens.cpp
  lib/Parser/CMakeLists.txt
  lib/Parser/Parser.cpp
  lib/Parser/Parser.yy
  test/CMakeLists.txt
  test/Parser/Parser.cpp
Labels: parser

#188 [Driver] [Lexer] Feature/ basic lexer debugger printing every token of a glu file
  include/Basic/Tokens.hpp
  tools/gluc/sources/main.cpp
Labels: lexer, Driver

#179 [Parser] Feature: add a better logic in parser
  include/Basic/TokenKind.def
  lib/Lexer/Scanner.l
  lib/Parser/Parser.yy
  test/Parser/Parser.cpp
  test/Scanner/Scanner.cpp
Labels: parser
