Repository glu-lang/glu, pull requests merged in 2025-04, with the labels that each got.

#307 Feature: add a first implementation of Driver
  cmake/UnixCompileRules.cmake
  include/AST/Types/TypeVisitor.hpp
  include/Basic/Tokens.hpp
  lib/AST/HashType.cpp
  lib/ASTPrinter/ASTPrinter.cpp
  lib/Basic/SourceManager.cpp
  lib/GIL/GILPrinter.cpp
  lib/Parser/Parser.yy
  test/functional/assets/enum.glu
  test/functional/assets/func.glu
  test/functional/assets/struct.glu
  tools/gluc/CMakeLists.txt
  tools/gluc/sources/main.cpp
Labels: Driver

#320 [GILGen] Feature: Generate GIL for conversions
  include/AST/ASTVisitor.hpp
  include/AST/Decl/FunctionDecl.hpp
  include/AST/Decl/ImportDecl.hpp
  include/AST/Stmt/CompoundStmt.hpp
  include/AST/Types/EnumTy.hpp
  include/AST/Types/FunctionTy.hpp
  include/AST/Types/StructTy.hpp
  include/GIL/Instructions/CastIntToPtrInst.hpp
  include/GIL/Instructions/CastPtrToIntInst.hpp
  include/GILGen/Context.hpp
  lib/GILGen/CMakeLists.txt
  lib/GILGen/Context.cpp
  lib/GILGen/GILGenExpr.hpp
  lib/GILGen/TypeTranslator.cpp
  lib/GILGen/TypeTranslator.hpp
Labels: GILGen

#321 [GILGen] Feature: Generate GIL for Operator Expressions (Unary and Binary)
  include/GIL/Instructions/BrInst.hpp
  include/GIL/Instructions/CondBrInst.hpp
  include/GILGen/Context.hpp
  lib/GILGen/GILGenExpr.hpp
Labels: GILGen

#322 [GILGen] Feature: Generate GIL for literals
  include/AST/Expr/LiteralExpr.hpp
  include/GILGen/Context.hpp
  lib/GILGen/GILGenExpr.hpp
  lib/GILGen/LiteralVisitor.hpp
Labels: GILGen

#339 Feature: Global scope building
  include/AST/Decl/EnumDecl.hpp
  include/AST/Decl/StructDecl.hpp
  include/AST/Decl/TypeAliasDecl.hpp
  include/AST/Decl/TypeDecl.hpp
  include/AST/Decl/VarLetDecl.hpp
  include/AST/NodeKind.def
  include/Sema/ScopeTable.hpp
  lib/AST/ASTNode.cpp
  lib/Sema/CMakeLists.txt
  lib/Sema/GlobalScopeVisitor.cpp
  lib/Sema/Resolver.cpp
Labels: sema

#288 Feature: Create structure for contraints
  include/AST/Types/TypeBase.hpp
  include/Sema/Constraints.hpp
  lib/Sema/CMakeLists.txt
  lib/Sema/Constraints.cpp
Labels: sema
