Repository glu-lang/glu, pull requests merged in 2025-05, with the labels that each got.

#348 [Parser]: Use Diagnostic Manager
  include/Lexer/Scanner.hpp
  include/Parser/Parser.hpp
  lib/Basic/Diagnostic.cpp
  lib/Lexer/Scanner.l
  lib/Parser/Parser.yy
  test/GILGen/GILGenStmt.cpp
  test/Parser/Common.hpp
  tools/gluc/sources/main.cpp
Labels: parser

#319 [DevOps] Feature/ new macOS smoke tests CI file to test brew deps caching
  .github/workflows/linter.yml
  .github/workflows/linux_smoke-tests.yml
  .github/workflows/macOS_smoke-tests.yml
  .github/workflows/macos_lint.yml
  CMakeLists.txt
  include/AST/ASTWalker.hpp
  include/AST/Decl/FunctionDecl.hpp
  include/AST/Decl/ImportDecl.hpp
  include/AST/Decl/ModuleDecl.hpp
  include/AST/Expr/CallExpr.hpp
  include/AST/Expr/RefExpr.hpp
  include/AST/Stmt/AssignStmt.hpp
  include/AST/Stmt/CompoundStmt.hpp
  include/AST/Types/EnumTy.hpp
  include/AST/Types/FunctionTy.hpp
  include/AST/Types/StructTy.hpp
  lib/AST/HashType.cpp
  lib/GIL/CallInst.cpp
  lib/GILDec/GILDec.cpp
  lib/IRDec/IRDec.cpp
  lib/IRGen/IRGen.cpp
  lib/Lexer/CMakeLists.txt
  lib/Optimizer/Optimizer.cpp
  lib/Parser/BisonTokens.cpp
Labels: devops

#350 Feature: Create ConstraintSystem
  include/Sema/Constraint.hpp
  include/Sema/ConstraintSystem.hpp
  lib/Sema/CMakeLists.txt
  lib/Sema/Constraint.cpp
  lib/Sema/ConstraintSystem.cpp
Labels: sema
